
/*
para unas cosas uso px y otras em dependiendo la distancia principalmente
la em era la distancia que ocupa una M mayuscula, o eso me dijo
el jefe en las practicas 

Las imagenes no estuve en clase asi que no se si se puede clickar en ellas
como la de la zapatilla, al final seria envolver la imagen en un a 
me acabo de dar cuenta al terminar lo dejo comentado por si sirve de algo
*/



*{
   /*
   con el margin auto se logra lo mismo
   que con space between
   aunque es mejor usar el margin auto
   para paginas que pongan banners
   a los laterales
   */
   font-family: Arial, Helvetica, sans-serif;
/*
margen general a la izquierda de manual, el derecho con los flex 
ya los ire ajustando dependiendo a la necesidad que la imagen no va a tener lo mismo que el nav de margen a la derecha 
mientras que por laizquierda todo empieza
a la misma altura*/
   
    
}
a{
    /* capricho personal de quitar el subrayado
    y color a todos los enlaces
    y poner lo que yo quiera en cada uno de ellos*/
    text-decoration: none;
    color: rgb(8, 8, 8);
    /*creo que esta en negrita en el ejercicio
    le damos ese estilo sin mas*/
    font-weight: bold;
}

/*color de fondo para ir viendo que el png haga lo suyo*/

.main__bg { 
    background-image: linear-gradient(to right top, #080B12, #7188B9, #E67E73, #6CDBFB, #524E51);
    animation: slide 3s ease-in-out infinite alternate; 
    position: fixed; 
    top: 0; 
    bottom: 0; 
    left: -50%; 
    right: -50%; 
    opacity: 0.5; 
    z-index: -1; 
} 
  
.layer1 { 
    animation-direction: alternate-reverse; 
    animation-duration: 2s; 
} 
  
.layer2 { 
    animation-duration: 3s; 
} 
  
@keyframes slide { 
    0% { 
        transform: translateX(-25%); 
    } 
    100% { 
        transform: translateX(25%); 
    } 
}


header{
    /*todo el contenido del header en la misma fila*/
    display: flex;
    /* separa los elementos que no esten agrupados en el mismo div por ejemplo
    cada uno pa un lado*/
    justify-content: space-between;
    /*pongo los distintos bloques a la misma
    altura
    el div y la lista en este caso*/
    align-items: center;
}
.divHeader{
   
    
}
.divHeader  img{
    /*la imagen la veo bien asi
    no necesito hacerla mas grande o meterla mas adentro
    a mi me cuadra bien tal y como esta*/
    width:5vw;
    /*
    al final la meti un poco para dentro
    quizas sea porque pille la primera que vi
    el tamaño que no es tan ancha o que se yo, pero es que
    es meh ponga como la ponga
    */
    margin-left: 5vw;
}

.navHeader{

    display: flex;
    
}

.navLista{
    /*
    quitamos los puntos de la lista
    la ponemos en una misma linea
    y el space beetwen hace la funcion de float right 
    asique no se usa
    */
    list-style: none;
    display: flex;
    /*separamos la lista del borde*/
    margin-right: 3vw;
}
.navLista li{
    /*separamos las lineas de las otras*/
    margin-right: 8vw;
}
.navLista li a:hover{
    /*no s epide, pero bueno va de la mano un navegador con hover*/
    color: #E67E73;
}
.wrapper{
    margin-left: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*un poco de aire con el header y el margen izquierdo*/

    margin-top: 5vh;

}
.section1Text{
    /*
    podria meyter un max width para ajustarlo, pero estoy ok con el resultado
    un margin timidin venga
    */

margin-right: 4vw;
}
.section1Text p{
/*
    no veo bien las distancias en la imagen de referencia
    me parece mas pequeña la letra pero claro tmb esque la imagen del ejemplo ocupa un pequeño espacio de la pantalla
    y esto que estoy haciendo es a pantalla completa, asi se queda
*/
    font-size: 1em;
    /*
    no habia quien mirase el texto con la fuente  general que puse
    pude hacer una fuente general para la p
    pero como no hay mas texto lo dejo aqui metido
    */
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section1Text button{

    border-radius: 2em;
    /*si se ponen 4 ajustas todos los lados, uno afecta a todos los lados
    y 2 el primero es arriba y abajo el segundo a los lados
    creo mas aire dentro del boton*/

    
    padding: 2vh 2vw;
    

    /*
    color que aprecio del pdf sin mas*/
    color: #080B12;
    background-color: #6CDBFB;
  
}
.section1Text button:hover{

    /*
    un hover sin mas que aumenta el tamaño del boton
    con una transicion easy-in (la unica que suelo usar la verdad)
    que aumenta el tamaño del boton cons cale y le pone una sombra con box shadow
    me gusta como quedaan estos efectos sin mas no restan
    */
/*
    el color deberia ser igual que el del navegador no es recomendable usar diferentes fuentes y colores
    por temas de seo y tal
*/
    background-color: #E67E73;
    color: #080B12;
    transform: scale(1.1);
    transition: ease-in 0.2s;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.7);

}

.section1Img {
    /*ajustandola*/
    margin-right: 15vw;
}
.section1Img img{

    /*tamaño de la imagen que es a lo alto no a lo ancha como la del pdf
    pero bueno mas o menos por aqui creo que hace fit
    */
    width: 30vw;
    
}
footer{
    margin-left: 5vw;
}
.redesFooter{
    
    display: flex;
    list-style: none;
    /*
    
    en este caso me molesta el padding predeterminado de la lista
    asique fuera el margin por ponerle tambien aunque no haria falta
    sabia que uno de los dos que crea las listas por defecto me estaba molestando
    no le doy margint op porque lo veo bien tal y como esta
    */
    padding: 0;
    
}
.redesFooter img{
    margin-right: 5vw;
    width: 2.5vw;
}

@media (max-width: 820px) {

    /*
    quite el meter nada en asteriscos y uso del initiañ para resetear atributos que dice en 
    resoluciones superiores pero no queria que se aplicasen aqui, me lo dijo mi amigo
    y ya lo demas me explico por encima como usar las herramientas de desarrollador
    para ver exactamente que era lo que estaba afectando a los bloques donde ir y demas
    y la verdad que un paseo ya con eso, lo unico el navegador me gustaria que estuviese en un cuadrado
    y que al presionar se desplegase pero no tengo ni idea de hacerlo y no encontre nada

    
    */
    
    /*
    cambiado con lo visto el martes, quedo pocho los viewheigh y width del main
    en la media y los ajuste, dos display column a los dos primeros bloques el segundo con el reverse para poner primero la imagen
    y el footer no me acordaba cual era el aireaba mas a todos los lados, parece que era el evenly el arround 
    los margenes del medio es la suma del margen del item medio mas item del lado
    y el beetwen dejara uno en el medio y los otros al lateral, el resto ni los probe porque no me sirven
    asiq creo que era el evenly
    y alineamiento de texto al medio en el segundo bloque para centrar todo ez.
    
    
    */

    header{
    flex-direction: column;
    }
    .divHeader{
    margin-top: 3vh;
    }
    .divHeader img{
        
        width: 30vw;
    }

    .wrapper{
        flex-direction: column-reverse;
      
    }
    .wrapper img{
        width: 50vw;
      
    }

    .section1Text{
        text-align: center;
    }
    .wrapper button{
        margin-top: 3vh;
        width: 40vw;
    }

    footer ul{
    justify-content: space-evenly;
    margin-top: 7vh;
       
    }
    .redesFooter img {
        width: 8vw;


    }
       

    
    
}