<section> 

    @if (isLoggedIn) 
    {
        <p> Bienvenido, {{ username }} </p>
        <img
         (click)="greet()"
         alt="photo" 
         src="https://github.com/abused857.png">

         <app-gamer 
         (addFavoriteEvent)="getFavorite($event)"
         username ="{{ username }}"></app-gamer>
    } 
    
    @else {

        <p>¡Inicia sesión!</p>
        <button (click) = "isLoggedIn = true"> Log in</button>
    }

    @if (favGame !== '') 
    {
        <p>Tu juego favorito es {{ favGame }}</p>
    }

    
    
</section>

